.idea/
opendap_testscript.py
download/
download_testing/
__pycache__/
test.csv
credentials.yaml
testing/
roughness_download/
weather_script_result.csv
dimension_scale/
Testing.ipynb
.ipynb_checkpoints/Testing-checkpoint.ipynb
.ipynb_checkpoints/
weather_data_result.csv
datapackage.json
